.page-part-container {
    width: 100%;
    max-width: var(--an-max-page-container-width);
    margin: 0 auto;
    padding: var(--an-padding-16);
}

.form-field-container {
    display: flex;
    flex-direction: column;
    gap: var(--an-gap-8);
}
