@use "reset";
@use "colors";
@use "base-variables";
@use "scrollbar";
@use "containers";
@use "fonts";
@use "components";

html {
    font-size: 18px;

    @media (max-width: 720px) {
        font-size: 16px;
    }
}

body {
    display: block;
    min-height: 100dvh;
    color: var(--an-text-primary);
    background: var(--an-bg-primary);

    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

*:focus-visible {
    outline: none;
    box-shadow: var(--an-input-focus-shadow);
    transition: box-shadow var(--an-transition-base);;
}
