@use "reset";
@use "colors";
@use "base-variables";
@use "scrollbar";
@use "containers";

body {
    display: block;
    min-height: 100dvh;
    color: var(--an-text-primary);
    background: var(--an-bg-primary);
}
