:host {
    display: flex;
    flex-direction: column;
    gap: var(--an-gap-24);
    padding: var(--an-padding-12);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    .header {
        display: flex;
        gap: var(--an-gap-12);
        align-items: center;
        justify-content: space-between;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: var(--an-gap-24);
    }

    .warning-message {
        display: inline-block;
        margin-top: var(--an-gap-8);
        color: var(--an-accent-warning);
        font-size: 0.8125rem;
        line-height: 1.25rem;
    }

    .footer {
        display: flex;
        gap: var(--an-gap-12);
        align-items: center;
    }
}
