:host {
    display: flex;
    flex-direction: column;
    gap: var(--an-gap-24);

    .create-post-button {
        align-self: flex-end;
        width: fit-content;
    }

    .posts-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: var(--an-gap-16);
    }
}
